.App-header {
  height: 182px;
  display: flex;
  text-align: center;
  border-bottom: 2px solid #d32e3b;
}
.App-header > img {
  height: 100%;
}
.App-header > h1 {
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #d32e3b;
  font-family: sans-serif;
}
